

.login {
  width: 500px;
  height: 400px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -200px;
  background: #fff;
  padding: 20px 80px;
  box-sizing: border-box;
}

.logo {
  margin-bottom: 50px;
  margin-top: 40px;
}


.input input {
  border: none;
  border-bottom: #eee 1px solid;
  border-radius: 0;
}